body {
    margin: 0;
    max-width: 786px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10vh;
}

  .Logo img {
      width: 60vh;
      height: auto;
}  
  
.menu-icon img {
        width: 7vh;
        height: auto;
}
.container2 {
    height: auto;
    margin: 70px 0 0 10vh;
    background: url(assets/graphic.svg);
    background-size: auto 600px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 400px;
    background-position-y: -74px;
   

}
.text1 {
    color: rgb(245, 70, 99);
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 3vh;
}


.text2 {
    font-size: 4rem;
    font-weight: bold;
    margin-top: -10px;
}

.text3 {
    color: gray;
    font-size: 2rem;
}

.container2 button {
    border: 4px solid;
    border-radius: 10px;
    border-image: url(assets/background.svg) 15 stretch;
    padding: 25px 70px;
    font-size: 1.6rem;
}

.container3 {
    background-image: url(assets/background.svg);
    background-repeat: no-repeat; 
    padding: 30px 10vh 20px 10vh;
    margin-top: 70px;
}

.text4 p {
    font-size: 3rem;
    font-weight: bold;
}

.text5 p {
    font-size: 1.6rem;
    padding-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
    margin: 70px 10vh;

}
.items-top, .items-button {
    display: flex;
    justify-content: space-between;
    margin: 10vh 0 ;
}

.icons img {
    width: 40vh;
    height: auto;
}

.container4 {
margin: 0 10vh;
}

.text6 p {
    font-size: 3rem;
    font-weight: bold;    
}

.text7 p{
    font-size: 1.6rem;
    color: gray;  
}
.container5 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100vh;
    padding-bottom: 50px;
}
div.item-left img, div.item-right img {
    width: 500px;
    height: auto;
    margin-right: 10vh;
}

.container5 table {
    width: 500px;
}

.container5 td:first-child {
text-align: left;

}

.container5 td:nth-child(2) {
    text-align: right;
  
}

.container5 table td.top1 {
color: rgb(245, 98, 45);
padding: 3vh 5vh 0 5vh;
}

.container5 table td.top2 {
    color: gray;
    padding: 3vh 5vh 0 5vh;
}

.container5 table td.col1, .container5 table td.col2 {
    font-size: 2rem;
    padding: 2rem;
    padding: 3vh 5vh 0 5vh;
}

.container5 table td.col2 {
    background-image: url(assets/eth.svg);
    background-size: auto 2.3rem;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 30px;
    background-position-y: 20px;
}

.container5 table td.col3, .container5 table td.col4 {
    color: gray;
    font-size: 2rem;
    padding: 3vh 5vh 0 5vh;
}