body {
    margin: 0;
 }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10vh;
}



  .Logo img .Logo1 img{
      width: 60vh;
      height: auto;
}  
  
.menu-icon img {
        width: 7vh;
        height: auto;
}
.container2 {
    height: auto;
    margin: 70px 0 0 10vh;
    background: url(assets/graphic.svg);
    background-size: auto 600px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 400px;
    background-position-y: center;
}

@media screen and (min-width: 768px) {
    .container2 {
        
        margin: 70px 0 0 10vh;
        background: url(assets/graphic.svg);
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: 700px 500px;
    }
}

.text1 {
    color: rgb(245, 70, 99);
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 3vh;
}


.text2, .text2-1 {
    font-size: 4rem;
    font-weight: bold;
    margin-top: -10px;
}

@media screen and (max-width: 768px) {
    .text2-1 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .text2 {
        display: none;
    }
}

.text3, .text3-1 {
    color: gray;
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .text3-1 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .text3 {
        display: none;
    }
}

.container2 button {
    border: 4px solid;
    border-radius: 10px;
    border-image: url(assets/background.svg) 15 stretch;
    padding: 25px 70px;
    font-size: 1.6rem;
}

.container a {
    display: inline-block;
    color: gray;
    font-size: 1.6rem;
    margin: 10px;
    text-decoration: none;
 }

.container span {
    color: rgb(245, 70, 99)
}

@media screen and (max-width: 768px) {
    .container .navig {
        display: none;
    }
}





@media screen and (min-width: 768px) {
    .container .menu-icon {
        display: none;
    }
}

.container3 {
    background-image: url(assets/background.svg);
    background-repeat: no-repeat; 
    padding: 30px 10vh 20px 10vh;
    margin-top: 70px;
    background-size: cover;
    background-position: center;
}

.icons .items-plus {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
.icons .items-plus{
    display: none;
}
}


@media screen and (min-width: 768px) {
    .icons .items-top, .icons .items-button {
        display: none;
    }
}


@media screen and (min-width: 768px) {
.container3 {
    background-image: url(assets/background.svg);
    background-repeat: no-repeat; 
    background-size: 100% auto;
    margin: 70px 10vh 0 10vh;
    }
}

@media screen and (min-width: 768px) {
    .container4 .text6-1 p {
    font-size: 3rem;
    font-weight: bold; 
    }
}

@media screen and (max-width: 768px) {
    .container4 .text6-1 p {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .container4 .text6 p {
   display: none; 
    }
}

.text4 p {
    font-size: 3rem;
    font-weight: bold;
}

.text5 p {
    font-size: 1.6rem;
    padding-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
    margin: 70px 10vh;

}
.items-top, .items-button {
    display: flex;
    justify-content: space-between;
    margin: 10vh 0 ;
}

.icons img {
    width: 40vh;
    height: auto;
}

.container4 {
margin: 0 10vh;
}

.text6 p {
    font-size: 3rem;
    font-weight: bold;    
}

.text7 p{
    font-size: 1.6rem;
    color: gray;  
}

.text7-1 p{
    font-size: 1.6rem;
    color: gray;  
}

@media screen and (max-width: 768px) {
    .container4 .text7-1 p {
        display: none; 
    }
}

@media screen and (min-width: 768px) {
    .container4 .text7 p {
       display: none; 
    }
}



.container5 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .container5 {
        display: flex;
        padding-bottom: 50px;
        width: 100%;
    }
}

.container5 div.item-1 img, .container5 div.item-2 img, .container5 div.item-3 img, .container5 div.item-4 img  {
    width: 500px;
    height: auto;
    margin-right: 10vh;
}

@media screen and (min-width: 768px) {
    .container5 div.item-1 img, .container5 div.item-2 img, .container5 div.item-3 img, .container5 div.item-4 img  {
        width: 270px;
        height: auto;
        margin-right: 10vh;
    } 
}

.container5 table {
    width: 500px;
}

@media screen and (min-width: 768px) {
    .container5 table {
        width: 270px;
    }
}

.container5 td:first-child {
text-align: left;

}

.container5 td:nth-child(2) {
    text-align: right;
  
}

.container5 table td.top1 {
color: rgb(245, 98, 45);
padding: 3vh 5vh 0 5vh;
}

.container5 table td.top2 {
    color: gray;
    padding: 3vh 5vh 0 5vh;
}

@media screen and (min-width: 768px) {
    .container5 table td.top1,  .container5 table td.top2 {
        font-size: 0.5rem;
        padding: 5px;
        
    }
}

.container5 table td.col1, .container5 table td.col2 {
    font-size: 2rem;
    padding: 2rem;
    padding: 3vh 5vh 0 5vh;
}

@media screen and (min-width: 768px) {
    .container5 table td.col1, .container5 table td.col2 {
        font-size: 1rem;
        padding: 5px;
        
    }   
}

.container5 table td.col2 {
    background-image: url(assets/eth.svg);
    background-size: auto 2.3rem;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 30px;
    background-position-y: 20px;
}

@media screen and (min-width: 768px) {
    .container5 table td.col2 {
        background-image: url(assets/eth.svg);
        background-size: auto 1.2rem;
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 15px;
       
    }
}

.container5 table td.col3, .container5 table td.col4 {
    color: gray;
    font-size: 2rem;
    padding: 3vh 5vh 0 5vh;
}

@media screen and (min-width: 768px) {
    .container5 table td.col3, .container5 table td.col4 {
        color: gray;
        font-size: 1rem;
        padding: 5px;
    }  
}

section.container6 {
    background-image: url(assets/upsell-footer-image.svg);
    background-size: auto 600px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 450px;
    background-position-y: 250px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: 10vh;
    margin: 0 10vh;
}

@media screen and (min-width: 768px) {
    section.container6 {
        background-image: url(assets/upsell-footer-image.svg);
        background-size: auto 400px;
        background-repeat: no-repeat;
       background-position-x: right;
       border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        padding: 10vh;
        margin: 0 10vh;
    }
}

.container6 button {
    border: 4px solid;
    border-radius: 10px;
    border-image: url(assets/background.svg) 15 stretch;
    padding: 25px 70px;
    font-size: 1.6rem;
}

footer {
    margin: 10vh;
}

@media screen and (min-width: 768px) {
    .container7-2 .Logo1-2 img {
        width: 40vh;
    }
}

.container7 .text8 p {
    font-size: 2.6rem;
    color: gray;
}

@media screen and (max-width: 768px) {
    .footer-left-2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .footer-left {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .container7 .text8 p{
        font-size: 1.8rem;
    color: gray;
    }
}

.icons2 img {
    display: inline-block;
    height: 30px;
    margin-right: 5vh;
}

@media screen and (min-width: 768px) {
    .icons2 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .icons2-2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .icons2-2 img {
        display: inline-block;
        height: 25px;
        margin-right: 20px;
    }
}

.navigation {
    margin: 10vh 0 0 0;
    display: flex;
    flex-direction: column;
    width: 70vh;
}

.navigation-2 {
    margin: 10vh 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .navigation-2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .navigation {
        display: none;
    }
}

.navigation p {
font-size: 2.6rem;
color: gray;
margin: 10vh 0;
}

@media screen and (min-width: 768px) {
.navigation-2 p {
    font-size: 1.8rem;
    color: gray;
    margin: 20px 0;
    }
}

.about, .NFT, .CONTACTS, .SOCIAL {
    display: flex;
    flex-direction: column;
}

.navigation a {
    margin: 1vh 0;
    text-decoration: none;
    color: gray;
    font-size: 2.6rem;
}

@media screen and (min-width: 768px) {
    .navigation-2 a {
        margin: 10px 0;
        text-decoration: none;
        color: gray;
        font-size: 1.8rem;
    }  
}

.top-info, .bottom-info {
    display: flex;
    justify-content: space-between;
}



.bottom-1 p {
    color: gray;
    font-size: 2.6rem;
    padding-top: 10vh;
    padding-bottom: 20vh;

}

@media screen and (min-width: 768px) {
    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;    
    } 
}

@media screen and (min-width: 768px) {
    .bottom-1 p {
        color: gray;
        font-size: 1.8rem;
        padding-top: 10vh;
        padding-bottom: 20vh;    
    } 
}

@media screen and (min-width: 768px) {
    .bottom-2 p {
        color: gray;
        font-size: 1.8rem;
        padding-top: 10vh;
        padding-bottom: 20vh;    
    } 
}

@media screen and (max-width: 768px) {
    .bottom-2 p {
        display: none;
    }
}