body {
    margin: 0;
    max-width: 786px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10vh;
}

  .Logo img {
      width: 60vh;
      height: auto;
}  
  
.menu-icon img {
        width: 7vh;
        height: auto;
}
.container2 {
    height: auto;
    margin: 70px 0 0 10vh;
    background: url(assets/graphic.svg);
    background-size: auto 600px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 400px;
    background-position-y: -74px;
   

}
.text1 {
    color: rgb(245, 70, 99);
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 3vh;
}


.text2 {
    font-size: 4rem;
    font-weight: bold;
    margin-top: -10px;
}

.text3 {
    color: gray;
    font-size: 2rem;
}

.container2 button {
    border: 4px solid;
    border-radius: 10px;
    border-image: url(assets/background.svg) 15 stretch;
    padding: 25px 70px;
    font-size: 1.6rem;
}

.container3 {
    background-image: url(assets/background.svg);
    background-repeat: no-repeat; 
    padding: 30px 10vh 20px 10vh;
    margin-top: 70px;
}

.text4 p {
    font-size: 3rem;
    font-weight: bold;
}

.text5 p {
    font-size: 1.6rem;
    padding-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
    margin: 70px 10vh;

}
.items-top, .items-button {
    display: flex;
    justify-content: space-between;
    margin: 10vh 0 ;
}

.icons img {
    width: 40vh;
    height: auto;
}